@use '~/assets/_variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
button {
    outline: none;
    border: none;
}
body {
    font-family: $font-1;
    background-color: $white;
    color: $text-black;
    overflow-x: hidden;
}
h1 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $text-black;
}
img {
    display: block;
}
.container {
    padding: 0 7.5rem;
    @media (max-width: 1550px) {
        padding: 0 4rem;
    }
    @media (max-width: 1420px) {
        padding: 0 2rem;
    }
    @media (max-width: 1200px) {
        padding: 0 2.7rem;
    }

    @media (max-width: 768px) {
        padding: 0 1rem;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media (max-width: 992px) {
        gap: 20px;
    }
}
.services__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 33.6px;
}
.mt-20 {
    margin-top: 20px;
}
